*{font-family: 'Rubik', sans-serif;}@tailwind base;@tailwind components;@tailwind utilities;
::-webkit-scrollbar{ width: 2px;height: 2px; } ::-webkit-scrollbar-track{ background: #f1f1f1; } ::-webkit-scrollbar-thumb{ background: #888; border-radius: 6px; } ::-webkit-scrollbar-thumb:hover{ background: #555; }
.loader{
    display:none;
}
.htmx-request .loader{
    display:inline;
}
.htmx-request.loader{
    display:inline;
}

.active-link{
    @apply flex items-center p-2 border-l-4 border-primary-500 bg-primary-100 rounded-none hover:bg-primary-100 dark:bg-primary-950 dark:text-white;
}
.nav-link{
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}